<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Peek</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <link href="https://fonts.googleapis.com/css?family=Abel|News+Cycle|Open+Sans+Condensed:300|Shadows+Into+Light+Two|Thasadith" rel="stylesheet">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  	<link rel="stylesheet" href="css/main.css">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>

    {{{body}}}

    <!-- Footer -->
    <footer class="page-footer">
                PEEK YOUR BOO
    </footer>

	   
</body>
</html>