    
{{> headerNoLogo}} 

<!-- Logo -->	
	<div class="container" id="Logo">
	    <div class="row">
	    	<div class="col s12">
	     	<img class="logo-graphic" alt="peek-logo" src="images/Peek.svg">
	    	</div>
	    </div>
	    <div class="row">
	    	<div class="col s12">
	    		<p class="center-align" id="slogan">Add slogan here?</p>
	      	</div>
		</div>
	</div>


	<!-- Search Bar -->
		<div class="container scale-transition" id="searchBar">
			<div class="row">
				<div class="col s12">
					<form action="" autocomplete="off" class="tag-form">
						<div class="input autocomplete">
							<label></label>
							<input id="search-field" type="text" name="searchField">
						</div>
						<div class="col s2 pull-s10">
							<a class="tiny material-icons" href="">close</a>
						</div>
					</form>
				</div>
			</div>
		</div>

	<!-- Sign Up Button -->
		<div class="row">
			<div class="col s7 offset-s5">
				<a class="waves-effect waves-light btn-large modal-trigger" href="#modal2">Sign Up</a>
			</div>
		</div>


	<!-- Sign Up Modal -->
<div id="modal2" class="modal">
  <h5 class="modal-close">&#10005;</h5>
  <div class="modal-content center">
  	<h4>Create Account</h4>
  	<br>

  	<form id="signup-form" name="signup-form"  action="." method="POST">
		<div class="row">
	  		<div class="input-field col s12 m6">
	          <i class="material-icons prefix">account_circle</i>
	          <input id="first_name" type="text" class="validate" required>
	          <label for="first_name">First Name</label>
	        </div>
	        <div class="input-field col s12 m6">
	          <input id="last_name" type="text" class="validate" required>
	          <label for="last_name">Last Name</label>
	        </div>
    	</div>

    	<div class="row">
	  		<div class="input-field col s12 m6">
	          <i class="material-icons prefix">plus_one</i>
	          <input id="age" type="text" class="validate" required>
	          <label for="age">Age</label>
	        </div>
	        <div class="input-field col s12 m6">
		        <i id="prefix-fix" class="material-icons prefix">wc</i>
		        <select id="gender" name="gender" required onchange="changeOption()">
	     			<option value="-1" required disabled selected>Gender</option>
	      			<option value="0">Male</option>
	      			<option value="1">Female</option>
				</select>				
    			<label for="gender">Select Gender</label>
	        </div>
    	</div>

  		<div class="row">
	  		<div class="input-field col s12">
	  			<i class="material-icons prefix">person</i>
	  			<input type="text" id="s-username" required>
	  			<label for="s-username">Username</label>
	  		</div>
  		</div>

  		<div class="row">
	  		<div class="input-field col s12">
	  			<i class="material-icons prefix">lock</i>
	  			<input type="password" id="s-password" required>
	  			<label for="s-password">Password</label>
	  		</div>
  		</div>

  		<div class="row">
  			<div class="input-field col s12">
  				<i class="material-icons prefix">create</i>
	  			<input type="text" id="bio">
	  			<label for="bio">Bio (Optional)</label>
  			</div>
  		</div>


  		<div class="left" style="margin-left:20px;">
  			<label for="check2">
  				<input type="checkbox" id="check2">
  			<span>Remember me</span>
  			</label>
  		</div>
  		<br>

  		<input type="submit" value="Sign Up" class="btn">
  	</form>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="js/main.js"></script> 
 