body {
  font-family: 'News Cycle', sans-serif;
  font-size: 30px;
  color: #042536;
  background-color: rgba(145,171,180,.5);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
	flex: 1 0 auto; 
}


/*Buttons*/
.btn, .btn-large{
	background-color: #2E3E4B;
	color: #fcfbf9;
}
.btn:hover, .btn-large:hover {
	background-color:  #2D313C;
}


/*Modals*/
.modal{
 max-height:90%;
 overflow:auto;
}

input[type="submit"]{
  width: 100%;
  margin-top: 50px;
}
.modal-close{
  position: absolute;
  top:10px;
  right:10px;
  padding:0;
  margin:0;
}


/*Logo*/
.logo-graphic {
  min-width: 360px;
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-top: 50px;
  margin-right: auto;
}


/*Profile Example Image*/
.profileimg {
  max-width: 300px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-top: 50px;
  margin-right: auto;
}

/*Star Rating*/



/*Footer*/
footer.page-footer {
    left: 0;
    bottom: 0;
    width: 100%;
  background-color: #4A4D56;
  color: #fcfbf9;
  font-family: 'News Cycle', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  padding: 11px;
  margin-top: 10px;
}

#prefix-fix { left: 0.5rem; }